@charset "ISO-8859-1";


#flex-container{
	width: 90%;
	margin: 0 auto;
	display:flex;
	justify-items: center;
	justify-content: space-around;
	flex-direction: row;
}



input{
	width:100%;
}

aside
{
	width: 25%;
	margin: 0;
	box-sizing: border-box;
}

main	
{
	width:70%;
	margin: 0;
	box-sizing: boder-box;
	min-width: 400px;
}

@media (max-width: 800px)
{
	#flex-container{
		flex-direction: column;
	}
	aside
	{
		width: 100%;
	}
	main
	{
		width: 100%;
	}
	
}

.btn{
	margin: 4px;
}

#title-main
{
	font-size: 36px;
}

tbody tr td:last-child {
	background-color: blue;
	display: flex;
	justify-content: flex-end;
	gap: 12px;
}