@charset "ISO-8859-1";

      body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f5f5f5;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      h1 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      form {
        margin-bottom: 20px;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input[type="text"],
      select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #bd4b4b;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover {
        background-color: #e41919;
      }

      /* Estilos para el último botón */
      li button:last-child {
        background-color: #1830a7 !important;
      }
	#btnActualizarClub, #btnUpdateJugador{
		background-color: #1830a7 !important;
		color: white;
	}
	
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
      }

      ul li {
        margin-bottom: 5px;
      }
