<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>FutbolTeamsManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>Control</display-name>
    <servlet-name>Control</servlet-name>
    <servlet-class>edu.ucam.servlets.Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Control</servlet-name>
    <url-pattern>/Control</url-pattern>
    <url-pattern>/FutbolTeamsManagement/Control</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>edu.ucam.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/clubs.jsp</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/jugadores.jsp</url-pattern>
    <url-pattern>/myUser.jsp</url-pattern>
    <url-pattern>/usuarios.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ControlJugadores</display-name>
    <servlet-name>ControlJugadores</servlet-name>
    <servlet-class>edu.ucam.servlets.ControlJugadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlJugadores</servlet-name>
    <url-pattern>/Jugadores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlClubes</display-name>
    <servlet-name>ControlClubes</servlet-name>
    <servlet-class>edu.ucam.servlets.ControlClubes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlClubes</servlet-name>
    <url-pattern>/Clubes</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>edu.ucam.listeners.InitListener</listener-class>
  </listener>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  
</web-app>